<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/style copy.css">
    <link rel="stylesheet" href="./css/menu.css">
    <script src=".js/menu.js"></script>
</head>
<body>
    <header class="conttitulo">            
        <nav class="menu">
            <ul>
                
                <li><a href="Actcli">Actualizar mis datos</a></li>
                <li><a href="Cuentacli">Mi cuenta</a></li>
                <li><a href="Lineascli">Mi Linea de Credito</a></li>
                <li><a href="Credcli">Mis Creditos</a></li>
                <li><a href="#">   <% datoscl.forEach(function (datoscl){ %>
                    <%=datoscl.nomcli%> 
                <%})%></a></li>
                <li><a href="cerrar">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </header>
    <h1>Bienvenid@</h1>

    <h1>
     
    </h1>
   
     

    
    
      <table class="registros">
        <thead>
            <tr> 
                <th>Nombres</th>
                <th>Documento</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Sexo</th>
                <th>Fecha de Nacimiento</th>
      
            </tr>
        </thead>
        <tbody>
            <% datoscl.forEach(function (datoscl){ %>
        <tr>
            <td><input type="text" value="<%=datoscl.nomcli%>" name="nomcli" id="nomcli" class="nomcli"></td>
            <td><input type="text" value="<%=datoscl.doccli%>" name="doccli" id="doccli" class="doccli" readonly></td>
            <td><input type="text" value="<%=datoscl.apecli%>" name="apecli" id="apecli" class="apecli"></td>
            <td><input type="text" value="<%=datoscl.correocli%>" name="correocli" id="correocli" class="correocli" ></td>
            <td><input type="text" value="<%=datoscl.celulra%>" name="celulra" id="celulra" class="celulra" ></td>
            <td><input type="text" value="<%=datoscl.sexo%>" name="sexo" id="sexo" class="sexo" ></td>
            <td><input type="text" value="<%=datoscl.fechanacli%>" name="fechanacli" id="fechanacli" class="fechanacli" ></td>



        </tr>
        <%})%>
    </tbody>
    </table>
    

  
 
   
</body>
</html>