
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuarios</title>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/actualizar.js"></script>
    <script src="./js/eliminar.js"></script>
    <link rel="stylesheet" href="./css/estilo.css">
    <link rel="stylesheet" href="./css/style copy.css">
</head>
<body>
      

   

   <div class="form-register">
    <img src="img/logo2.jpg" class="img" alt="Avatar Image">
    <form action="/frminsertar" method="POST" >
      <h4>Formulario Para Usuarios</h4>
      <label for="username">Numero de Documento</label>
      <input class="controls" type="number" name="doccli" id="nombres" placeholder="Documento ">
      <label for="username">Nombre de Usuario</label>
      <input class="controls" type="text" name="nomusu" id="apellidos" placeholder="Usuario">
      <label for="username">Contraseña</label>
      <input class="controls" type="password" name="clave" id="correo" placeholder="Clave">
      <label for="username">Rol</label>
      <input class="controls" type="text" name="rol" id="rol" placeholder="Rol">
      <label for="username">Estado</label>
      <input class="controls" type="text" name="estado" id="estado" placeholder="Estado">
      <label for="username">Imagen</label>
      <input class="controls" type="text" name="imagen" id="Imagen" placeholder="Imagen">
      <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
      <button class="button" type="submit">Registrar</button> 
    </form>
   </div>
    <br>
    <br>
    <table class="registros">
      <thead>
          <tr> 
              <th>Documento</th>
              <th>Usuario</th>
              <th>Clave</th>
              <th>Rol</th>
              <th>Estado</th>
              <th>Imagen</th>
              <th>Actualizar</th>
              <th>Eliminar</th>        
          </tr>
      </thead>
      <tbody>
          <% datos.forEach(function (datos){ %>
      <tr>
          <td><input type="text" value="<%=datos.doccli%>" name="doccli" id="doc" class="doc" readonly></td>
          <td><input type="text" value="<%=datos.nomusu%>" name="nomusu" id="usu" class="usu"></td>
          <td><input type="text" value="<%=datos.clave%>" name="clave" id="cla" class="cla"></td>
          <td><input type="text" value="<%=datos.rol%>" name="rol" id="rol" class="rol"></td>
          <td><input type="text" value="<%=datos.estado%>" name="estado" id="est" class="est"></td>
          <td><input type="text" value="<%=datos.imagen%>" name="imagen" id="img" class="img"></td>
          <td><input type="submit" value="Actualizar" name="btnact" id="btnact" class="btnact"></td>
          <td><input type="submit" value="Eliminar" name="btneli" id="btneli" class="btneli"></td>
      </tr>
      <%})%>
  </tbody>
  </table>

  </body>
</html>